<!-- Modal for Settings (admin/author) -->
<div class="modal fade" id="settingsModal1" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateBlogForm">
                    <!-- Blog Information -->
                    <% if (userBlog != null) { %>
                        <div class="mb-3">
                            <label class="form-label">Blog Title</label>
                            <input type="text" class="form-control" id="blogTitle1" name="blogTitle" value="<%= userBlog.title %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Blog Subtitle</label>
                            <input type="text" class="form-control" id="blogSubtitle1" name="blogSubtitle" value="<%= userBlog.subtitle %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="displayName1" name="displayName" value="<%= userBlog.display_name %>">
                        </div>
                    <% } else { %>
                        <div class="mb-3">
                            <label class="form-label">Blog Title</label>
                            <input type="text" class="form-control" id="blogTitle2" name="blogTitle" placeholder="Enter a new blog title">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Blog Subtitle</label>
                            <input type="text" class="form-control" id="blogSubtitle2" name="blogSubtitle" placeholder="Enter a new blog subtitle">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="displayName2" name="displayName" placeholder="Enter a new display name">
                        </div>
                    <% } %>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mb-3" id="updateBlogButton">Update</button>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-danger" id="deleteBtn1">Delete Account</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Settings (user) -->
<div class="modal fade" id="settingsModal2" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger" id= "deleteBtn2">Delete account</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login-container">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <form action="/user-login" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"> 
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
                        <a href="/signup" class="d-block">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>