/* GLOBAL */

@font-face {
    font-family: 'SourceCodePro';
    src: url('./fonts/SourceCodePro-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('./fonts/SourceCodePro-Light.ttf');
    font-weight: lighter;
}

/* body */

body {
    background-color: black;
    color: white;
    font-family: 'SourceCodePro', sans-serif;
}

.container {
    margin: auto;
    padding-top: 20px;
    max-width: 900px;
}

/* header */

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.nav-bar {
    margin-bottom: 1rem;
    padding: 0 20px;
}

.nav-bar button,
.nav-bar a {
    margin: 5px;
}

/* modals */

.modal-content {
    background-color: rgba(51, 51, 51, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* empty footer */

.footer {
    height: 150px;
}

/* customize buttons */

.btn-primary {
    background-color: rgba(128, 0, 128, 0.75);
    border-color: rgba(128, 0, 128, 0.75);
}

.btn-primary:hover,
.btn-primary:active:focus
{
    background-color: purple;
    border-color: purple;
}

.btn-success {
    background-color: rgba(0, 128, 0, 0.75);
    border-color: rgba(0, 128, 0, 0.75);
}

.btn-success:hover,
.btn-success:active:focus
 {
    background-color: green;
    border-color: green;
}

.btn-secondary {
    background-color: rgba(128, 128, 128, 0.75);
    border-color: rgba(128, 128, 128, 0.75);
}

.btn-secondary:hover,
.btn-secondary:active:focus {
    background-color: grey;
    border-color: grey;
}

.btn-warning {
    background-color: rgba(255, 166, 0, 0.75);
    border-color: rgba(255, 166, 0, 0.75);
}

.btn-warning:hover,
.btn-warning:active:focus {
    background-color: orange;
    border-color: orange;
}

.btn-danger {
    background-color: rgba(255, 0, 0, 0.75);
    border-color: rgba(255, 0, 0, 0.75);
}

.btn-danger:hover,
.btn-danger:active:focus {
    background-color: red; 
    border-color: red;
}

/* PAGES */

/* login page */

.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container h3 {
    color: white;
}

.login-container .form-control {
    background-color: white;
    color: black;
    border-color: #555;
}

.login-container a {
    color: white;
    text-decoration: none;
}

.login-container a:hover {
    color: #bbb;
}

/* home page */

.article-cards {
    margin-top: 2rem;
}

.article-card {
    position: relative;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    padding: 15px;
}

.article-card .stretched-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.article-card .card-body {
    position: relative;
    z-index: 2; 
}

.article-card .card-title {
    color: white;
    font-weight: bold;
}

.article-card .card-text {
    color: #ccc;
}

.article-card:hover {
    transform: scale(1.05);
}

/* article page */

.comment-card {
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

/* dashboard page */

.table {
    font-family: 'SourceCodePro', sans-serif;
    font-weight: lighter;
}

.table>thead>tr>th {
    background-color: purple;
}

.table>tbody>tr>td {
    background-color: #2e2e2e;
}

.table td,
.table th {
    padding: 8px;
    text-align: center;
}

.dashboard-action-buttons button,
.accounts-action-buttons button {
    margin: 3px;
}

